<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
    {% include 'users/headerfiles.html' %}
    <style>
        p {
            color: gray;
        }

    </style>
</head>
<body>
{% include 'users/navbar.html' %}
<div style="margin-top: 100px">
    <div class="container">
        <div class="">
            <div class="text-center">
                <h2>{{ data.title }}</h2>
            </div>
            <h6 class="text-secondary small">{{ data.created_at }}</h6>
            <hr>
            <div class="mt-5">
                {{ data.description | safe }}
            </div>
        </div>
    </div>
</div>
{% include 'users/footer.html' %}
</body>
</html>
